{% extends 'base.html' %}

{% block content %}
    <div class="row">
    <div class="main-post">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Главный пост</h2>
            <div id="post_body">
                <p>Данный блог задуман как сборник заметок по различным аспектам программирования и поле для экспериментов с новыми для меня технологиями.</p>
                <p>Основное внимание будет уделяться языкам:</p>
                <ol>
                    <li>Python</li>
                    <li>JavaScript</li>
                    <li>Go</li>
                </ol>
               <p>и технологиям/фреймворкам:</p>
                <ol>
                    <li>Django</li>
                    <li>Flask</li>
                    <li>Jquery</li>
                    <li>Angular.js</li>
                    <li>LESS</li>
                </ol>
                <p>Данные списки будут меняться, пополняться, а сам блог может менять структуру и периодически падать в связи с применением новых технологий или какими-то экспериментами.</p>
                <p>Если какие-то темы вам интересны - высказывайтесь в комментариях, просьба при этом быть взаимовежливыми.</p>
                <p>Если хотите связаться со мной <a href="{{ url_for('contacts') }}">лично</a> или предложить мне
                    <a href="{{ url_for('about') }}">работу</a> - воспользуйтесь соответствующими разделами сайта.</p>
            </div>
        </div>
    </div>
            </div>
    </div>
    <div id="posts" data-url="/posts"></div>
{% endblock %}