<div class="navbar navbar-default navbar-fixed-top container">

    <div class="row">
        <div class="site-head">
    <header>
        <a href="/"><h1>Technical notes</h1></a>
        <nav>
            <ul>
                <li><a class="btn btn-default"href="{{ url_for('contacts') }}" title="Contacts">Контакты</a></li>
                <li><a class="btn btn-default" href="{{ url_for('about') }}" title="About">Обо мне</a></li>
            </ul>
        </nav>
    </header>
            </div>
    </div>
</div>
